//$variable: allows for variables to save info i.e. colors to make consistnacy easier

$primaryBtn : rgb(56,146,142);

header {
    background-color: lightblue;
    display: flex;
    justify-content: center; 
    // Sass allows for nesting
    button {
        background : $primaryBtn;
        &:hover {
            background: red;
        }
    }
}



